{% extends "base.html" %} {% block title %}Three {% endblock %} {% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/three.css') }}">


<div style="font-size: 5vw; margin: 0 auto; text-align: center;"> Trajectory planner</div>

<ul class="before_alert" style="text-align: center;font-size: 1.5vw; list-style: none;padding-bottom: 2%;">
  <br>
  <li> <b>Control</b> the angles of your joints with sliders. In case of robots with 6DOF,</li>
  <li>set the <i>position and the orientation </i> of the end-effector.</li>
  <li>Plan a linear trajectory either by active IK or Compute IK and</li>
  <li>recieve all the angles neccessarry for completeing your planned trajectory by <b>Get angles</b>.</li>
</ul>


<div id="div" style="position: relative;">
  <div style="position: absolute;bottom: 2%;left: 1%;z-index: 5;display: flex;flex-direction: column;">
    <div style="font-size: large;font-weight: 500;color:white">Preview
      trajectory</div>
    <input style="width: 95%;" type="range" min="0" max="1" value="0" class="precision-value">

  </div>

  <div style="font-size: larger;position: absolute;color: white;z-index: 1;left: 1%;top: 0.5%;">
    <div>End effector's position:</div>
    <div class="position" style="display: flex;flex-direction: column;">
      <div class="xpos">X: </div>
      <div class="ypos">Y: </div>
      <div class="zpos">Z: </div>
    </div>
  </div>


  <div style="position: absolute;" id="gui"></div>


  <div class="alertDiv" style="z-index: 10;position: absolute;top: 0;right:0;padding: 0.6%;"></div>
</div>

<div class="output-div">
  <button style="width:16%; min-width: 200px;" id="get_angles" class="fire btn btn-lg btn-outline-success">Get
    angles for current trajectory</button>
  <div id="style-1" class="output_angles" style="width: 30%; text-align: center;overflow: auto;font-size: large;">
  </div>

  <!-- srdce <img src="{{ url_for('static', filename='svg/srdce.svg') }}"> -->

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.4.1/math.js"
  integrity="sha512-chaoc0M8+8wskyWU/lt5wgBbX8Rx0349Ke8srsfzQc0+DsPhww0RTcuMiphUNF4AQ+L3C07JJKq3CQeTLssJRQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="{{ url_for('static', filename='js/tri.js') }}"></script>

{% endblock %}